[package]
authors = ["omnect@conplement.de>"]
build = "src/build.rs"
description = "This tool provides a command-line interface to configure your omnect device linux images. and to communicate with omnect empowered devices"
edition = "2021"
homepage = "https://www.omnect.io/home"
license = "MIT OR Apache-2.0"
name = "omnect-cli"
readme = "README.md"
repository = "https://github.com/omnect/omnect-cli"
version = "0.17.0"

[dependencies]
actix-web = "4.4"
anyhow = "1"
bzip2 = "0.4.1"
clap = { version = "4.0", features = ["derive"] }
directories = "5.0.1"
env_logger = "0.8"
filemagic = "0.12"
flate2 = "1.0.22"
omnect-crypto = { git = "https://github.com/omnect/omnect-crypto.git", tag = "0.4.0" }
keyring = "2.0.4"
lazy_static = "1.4.0"
log = "0.4"
num_cpus = "1.13"
oauth2 = "4.4.1"
open = "4.1.0"
regex = "1.5.5"
reqwest = { version = "0.11.18", features = ["json"] }
serde = "1.0.*"
serde_json = "1.0.59"
serde_path_to_error = "0.1.*"
stdext = "0.3.*"
strum = "0.25"
strum_macros = "0.25"
tokio = { version = "1", features = [
    "macros",
    "io-std",
    "io-util",
    "fs",
    "net",
] }
toml = "0.5.*"
uuid = { version = "0.8", default-features = false, features = ["v4"] }
url = "2.4.0"
validator = { version = "0.14", features = ["derive"] }
xz2 = "0.1"

[dev-dependencies]
httpmock = "0.6"
file_diff = "1.0"
assert_cmd = "2.0"

[package.metadata.deb]
depends = "bmap-tools, e2tools, fdisk, mtools, libssl3 (>= 3.0.0~~alpha1), libc6 (>= 2.34)"
revision = ""