## Hostname
hostname = "test-omnect-no-est"

## DPS provisioning with X.509 certificate
[provisioning]
source = "dps"
global_endpoint = "https://global.azure-devices-provisioning.net/"
id_scope = "0neXXXXXXXX"

[provisioning.attestation]
method = "x509"
registration_id = "test-omnect-no-est"
identity_cert = "file:///mnt/cert/priv/device_id_cert.pem"
identity_pk = "file:///mnt/cert/priv/device_id_cert_key.pem"